# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List three development environment open source tools used in data science
- List popular languages for Data Science
- List the commonly used libraries used by Data Scientists
- List few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# Addition
5 + 3  # Result: 8

8

In [7]:
# Subtraction
10 - 4  # Result: 6

6

In [4]:
# Division
15 / 3  # Result: 5.0 (float division)

5.0

In [5]:
# Multiplication
6 * 7  # Result: 42

42

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200 
hours = 200 // 60
hours

3

## Author
Lakshya Dhawan